body{
    background-image: url("bg.jpg");
    color: white;
    background-size: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    margin: 30px;
    font-size: 36px;
    font-weight: bold;
}
ul{
    list-style: none;
    display: flex;
    margin: 40px;
    font-size: 20px;
}
li{
    margin-left: 10px;
}
h1{
    position: absolute;
    left: 40%;
    top: 45%;
    font-size: 48px;
    font-weight: bold;
}